@charset "ISO-8859-1";
.container{
	width:100%;
	height:1700px;
}
body{
	/*background-image: linear-gradient(to bottom right, yellow, orange);*/
}
.ribbon{
	width:100%;
	height:40px;
	position: absolute;
    bottom: 0px;
}
.dashboard{
    width:90%;
    height:1250px;
    margin: 0px auto;
    font-family: Monospace;
    background-color:gold;
}
.self-details{
    width:40%;
    height:400px;
    margin-left: 20px;
    background: rgb(227,184,9);
	background: linear-gradient(90deg, rgba(227,184,9,1) 0%, rgba(255,184,0,1) 600%);
	border-radius:20px;
}
.self-details img{
	width: 200px;
    height: 200px;
    position: relative;
    float: right;
}
.self-details p{
	padding:10px;
	font-size:25px;
}
.site-details{
    width:54.5%;
    height:500px;
    margin-left: 40px;
    background: rgb(227,184,9);
	background: linear-gradient(90deg, rgba(227,184,9,1) 0%, rgba(255,184,0,1) 100%);
	border-radius:20px;
}
.site-details p{
	font-size:25px;
	text-align:center;
}
.site-details p.number{
	font-size:50px;
	text-align:center;
}
.site-details img{
	width:100px;
	height:100px;
	display: block;
  	margin-left: auto;
 	margin-right: auto;
}
.cards{
     position: relative;
     float: left;
     margin-top: 20px;
}
.cards table , .cards thead , .cards tr , .cards th , .cards td{
	border:1px solid black;
	border-collapse:collapse;
}
.cards th{
	background-color:yellow;
	border:1px solid black;
}
.list_head{
	text-align:center;
}
.site-creds{
      width: 46%;
      height: 450px;
      margin-left: 20px;
      margin-top: 20px;
      background-color: rgba(255, 166, 0, 0.34);
      transition:1s;
 }
 .site-creds:hover{
 	background-color: rgba(255, 166, 0, 0.64);
 }
.list{
      width: 31.5%;
      height: 300px;
      margin-left: 20px;
      background-color: rgba(255, 166, 0, 0.54);
      border-radius:30px;
}
.item-list{
      width: 97.2%;
      height: 300px;
      margin-left: 20px;
      background-color: rgba(255, 166, 0, 0.54);
}
.list_head{
    width: 100%;
}
.item-box{
	width:23%;
	height:80px;
	margin-top:20px;
	position:relative;
	float:left;
	margin-left:20px;
	font-size:20px;
	background-color:goldenrod;
	border-radius:10px;
}
.emplist{
	height:auto;
	overflow :hidden;
}
.listin{
	width:90%;
	height:auto;
	overflow :hidden;
	margin:0px auto;
	border-radius:10px;
	background-image: linear-gradient(
  						45deg,
  						hsl(37deg 76% 64%) 0%,
  						hsl(39deg 75% 65%) 11%,
  						hsl(42deg 75% 66%) 22%,
  						hsl(44deg 74% 66%) 33%,
  						hsl(47deg 72% 67%) 44%,
  						hsl(50deg 71% 68%) 56%,
  						hsl(53deg 69% 69%) 67%,
  						hsl(56deg 67% 69%) 78%,
  						hsl(60deg 65% 71%) 89%,
  						hsl(65deg 71% 73%) 100%);
}
.emp-list-box{
	height:200px;
	margin-top:30px;
}
.emp-list-box p{
	font-family: Monospace;
	font-size:22px;
}
.emp-list.box a{
	visibility:hidden;
}
.emp-del-msg , .emp-update-emp{
	font-family: Monospace;
	margin:0px auto;
	margin-top:20px;
	background-color:gold;
	border-radius:20px;
}
.emp-del-msg{
	height:200px;
	width: 450px;
}
.emp-update-emp{
	width: 500px;
	height:600px;
}
.dashboard button , .emp-list-box button{
	display:block;
	margin: 0 auto;
	width:120px;
	height:40px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    background-color: rgb(251, 255, 0);
    color: rgb(97, 89, 193);
    transition:0.5s;
}
.dashboard button:hover , .emp-list-box button:hover{
	background-color: #ffffff;
    color: #000000;
}
.dashboard a , .emp-list-box a{
	text-decoration:none;
}
.emp-update-emp input.text , .emp-update-emp select.text{
	width:150px;
	height:30px;
	border:none;
	border-radius:5px;
	text-align:center;
}

.emp-update-emp input.button , .emp-del-msg button , .emp-del-msg input.button{
	width:150px;
	height:30px;
	border-radius:10px;
	border:0px;
	transition:0.75s;
	color:#95943a;
	background-color:white;
	transition:.5s;
}

.emp-update-emp input.button:hover , .emp-del-msg input.button:hover, .emp-del-msg button:hover{
	color:white;
	background-color:#95943a;
}
.emp-del-msg button{
	margin-top:10px;
	margin-left:150px;
}