@charset "ISO-8859-1";
.container{
	width:100%;
	height:1700px;
}
.dashboard{
    border:1px solid black;
    width:90%;
    height:1250px;
    margin: 0px auto;
    font-family: Monospace;
}
.self-details{
    border:1px solid black;
    width:40%;
    height:400px;
    margin-left: 20px;
}
.self-details img{
	width: 200px;
    height: 200px;
    position: relative;
    float: right;
}
.self-details p{
	padding:10px;
	font-size:25px;
}
.site-details{
    border:1px solid black;
    width:54.5%;
    height:500px;
    margin-left: 40px;
}
.site-details p{
	font-size:25px;
	text-align:center;
}
.site-details p.number{
	font-size:50px;
	text-align:center;
}
.site-details img{
	width:100px;
	height:100px;
	display: block;
  	margin-left: auto;
 	margin-right: auto;
}
.cards{
     position: relative;
     float: left;
     margin-top: 20px;
}
.cards table , .cards thead , .cards tr , .cards th , .cards td{
	border:1px solid black;
}

.list_head{
	text-align:center;
}
.site-creds{
      width: 46%;
      height: 450px;
      border:1px solid black;
      margin-left: 20px;
      margin-top: 20px;
 }
.list{
      width: 31.5%;
      height: 300px;
      border:1px solid black;
      margin-left: 20px;
}
.item-list{
      width: 97.2%;
      height: 300px;
      border:1px solid black;
      margin-left: 20px;
}
.list_head{
    width: 100%;
    border:1px solid black;
}
.item-box{
	width:23%;
	height:80px;
	border:1px solid black;
	margin-top:20px;
	position:relative;
	float:left;
	margin-left:20px;
	font-size:20px;
}