@charset "ISO-8859-1";

table#tab101 {
	max-width : 1080px;
	padding : 0px;
	margin : 0px;
}
.det{
	font-weight:bold;
}
.add{
	float:right;

	
}
button.add{
	font-family: Arial;
	  margin: 5px;
  	text-align: center;
  	border: 2px solid ;
  	padding: 10px;
  	width: 150px;
  	background-image: url("../images/btnBG.jpg");
  	background-color: #cccccc;
    background-size: cover;
    background-repeat: no-repeat;
    width: cover;
    height: cover;
  	position: relative;
}