<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
         
        <servlet>
			<servlet-name>login</servlet-name>
			<servlet-class>service.login.LoginServlet</servlet-class>
		</servlet>
		
		<servlet-mapping>
			<servlet-name>login</servlet-name>
			<url-pattern>/login</url-pattern>
		</servlet-mapping>
		
		<!--appointment-->
		<servlet>
			<servlet-name>deleteappointment</servlet-name>
			<servlet-class>com.appointment.AppointmentDeleteServlet</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>deleteappointment</servlet-name>
			<url-pattern>/deleteappointment</url-pattern>
		</servlet-mapping>
		
		<servlet>
			<servlet-name>addapointment</servlet-name>
			<servlet-class>com.appointment.AppointmentAddServlet</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>addapointment</servlet-name>
			<url-pattern>/addapointment</url-pattern>
		</servlet-mapping>
		
		
		<!--employee-->
		<servlet>
			<servlet-name>updateemployee</servlet-name>
			<servlet-class>com.employee.EmployeeUpdateServlet</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>updateemployee</servlet-name>
			<url-pattern>/updateemployee</url-pattern>
		</servlet-mapping>
		
		<servlet>
			<servlet-name>deleteemployee</servlet-name>
			<servlet-class>com.employee.EmployeeDeleteServlet</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>deleteemployee</servlet-name>
			<url-pattern>/deleteemployee</url-pattern>
		</servlet-mapping>
		
		
		
		<!--customer -->
		<servlet>
			<servlet-name>updatecustomer</servlet-name>
			<servlet-class>com.customer.CustomerUpdateServlet</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>updatecustomer</servlet-name>
			<url-pattern>/updatecustomer</url-pattern>
		</servlet-mapping>
		
		<servlet>
			<servlet-name>deletecustomer</servlet-name>
			<servlet-class>com.customer.CustomerDeleteServlet</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>deletecustomer</servlet-name>
			<url-pattern>/deletecustomer</url-pattern>
		</servlet-mapping>
		
		<servlet>
			<servlet-name>insertcustomer</servlet-name>
			<servlet-class>com.customer.CustomerInsertServlet</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>insertcustomer</servlet-name>
			<url-pattern>/insertcustomer</url-pattern>
		</servlet-mapping>
		
		<!--supplier-->
		<servlet>
			<servlet-name>deletesupplier</servlet-name>
			<servlet-class>com.supplier.SupplierDeleteServlet</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>deletesupplier</servlet-name>
			<url-pattern>/deletesupplier</url-pattern>
		</servlet-mapping>
		
		<servlet>
			<servlet-name>insertSupplier</servlet-name>
			<servlet-class>com.supplier.SupplierInsertServlet</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>insertSupplier</servlet-name>
			<url-pattern>/insertSupplier</url-pattern>
		</servlet-mapping>
		
		<!--item-->
		<servlet>
			<servlet-name>insertItem</servlet-name>
			<servlet-class>com.item.AddItemServlet</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>insertItem</servlet-name>
			<url-pattern>/insertItem</url-pattern>
		</servlet-mapping>
		
		<servlet>
			<servlet-name>deleteitem</servlet-name>
			<servlet-class>com.item.ItemDeleteServlet</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>deleteitem</servlet-name>
			<url-pattern>/deleteitem</url-pattern>
		</servlet-mapping>
		
</web-app>